<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinwang.subao" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SubaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >

        <!-- 主界面禁用软键盘 -->
        <activity
            android:name=".activity.MainActivity"
            android:label="速宝快递"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 用户主界面禁用软键盘 -->
        <activity
            android:name=".activity.user.UserMainActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>

        <!-- 快递员主界面禁用软键盘 -->
        <activity
            android:name=".activity.delivery.DeliveryMainActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>

        <!-- 用户寄件界面禁用软键盘 -->
        <activity
            android:name=".activity.user.UserPutGoodActivity"
            android:label="@string/title_activity_user_put_good"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>

        <!-- 用户选择箱格大小界面禁用软键盘 -->
        <activity
            android:name=".activity.user.UserPutSizeActivity"
            android:label="@string/title_activity_user_put_size"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>

        <!-- 用户寄件结束界面禁用软键盘 -->
        <activity
            android:name=".activity.user.UserPutEndActivity"
            android:label="@string/title_activity_user_put_end"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>

        <!-- 用户取件扫码界面禁用软键盘 -->
        <activity
            android:name=".activity.user.UserGetGoodActivity"
            android:label="@string/title_activity_user_get_good"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.user.UserGetGoodByCodeOkActivity"
            android:label="@string/title_activity_user_get_good_by_code_ok" >
        </activity>
        <activity
            android:name=".activity.delivery.DeliveryPutGoodActivity"
            android:label="@string/title_activity_delivery_put_good" >
        </activity>
        <activity
            android:name=".activity.delivery.DeliveryPutSizeActivity"
            android:label="@string/title_activity_delivery_put_size" >
        </activity>
        <activity
            android:name=".activity.delivery.DeliveryGetGoodActivity"
            android:label="@string/title_activity_delivery_get_good" >
        </activity>

        <!-- 注册Receiver -->
        <receiver android:name=".StaticReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.delivery.DeliveryLoginActivity"
            android:label="@string/title_activity_delivery_login"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.user.UserGetGoodByCode"
            android:label="@string/title_activity_user_get_good_by_code" >
        </activity>

        <!-- 推送 -->
        <service android:name=".service.OnlineService" />

        <receiver android:name=".receiver.TickAlarmReceiver" >
        </receiver>
        <receiver
            android:name=".receiver.ConnectivityAlarmReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.BootAlarmReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.ManagerActivity"
            android:label="@string/title_activity_manager" >
        </activity>
    </application>

</manifest>
